.tableContainerHorizontal{
    display: flex;
    width: 100%;
    padding: 1vh;
    justify-content: center;
    align-items: center;
}
.tableContainerVertical{
    display: flex;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5vh;
}
.tableContainerVertical .cardContainer {
    transform: rotate(-90deg);
    width: 100px;
    margin: -20px;
}
