.tableContainerHorizontal{
    display: flex;
    width: 99%;
    padding: 1vh;
    justify-content: center;
    align-items: center;
}
.tableContainerVertical{
    display: flex;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}
.tableContainerVertical .cardContainer {
    transform: rotate(-90deg);
    width: calc(50vh / 5);
    margin: -20px;
}
