.tableContainer{
    display: flex;
    /* flex-wrap:wrap; */
    justify-content: center;
    width: 100%;
    margin:0;
    padding: 0;
    position: relative;
    overflow: hidden;
    /* overflow-x: scroll; */
}
.cardsContainer{
    display: flex;
    /* flex-wrap:wrap; */
    justify-content: center;
    width: 80%;
    margin:0;
    padding: 0;
    position: relative;
    /* overflow: hidden; */
    /* overflow-x: scroll; */
}
.leftArrow{
    position: absolute;;
    left:0; 
    height: 100%;
    width: 5%;
    margin: 1%;
    background-color: #eee;
    cursor: pointer;
}
.leftArrow p{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rightArrow{
    position: absolute;
    right:0; 
    height: 100%;
    width: 5%;
    margin: 1%;
    background-color: #eee;
    cursor: pointer;
}
.rightArrow p{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.move{
    transform: translateX(17%);
}